/* Liquid glass style*/
:root{
  --bg:#111;
}
body{background:var(--bg);}
.dark-glass{
  background: rgba(0,0,0,0.15);
  border-radius: 25px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 2px solid rgba(0,0,0,0.25);
}
.glass{
  background: rgba(255,255,255,0.06);
  border-radius: 25px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 2px solid rgba(255,255,255,0.06);
}
/* helper to make full-height glass containers on the sidebar */
.sidebar-glass{
  display:flex;
  flex-direction:column;
  height:100%;
  padding:12px;
}
.player-glass{
  padding:14px;
}
